:root {
  --title-color: #4d5ae5;
  --first-color: #2e2f42;
  --second-color: #ffffff;
  --third-color: #434455;
  --background-color-btn: #f4f4fd;
  --action-color: #404bbf;
  --success-color: #31d0aa;
  --fourth-color: #8e8f99;
  --modal-btn-color: #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--second-color);
  color: var(--third-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  min-width: 320px;
  max-width: 428px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

/* header */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.navigation {
  display: flex;
  align-items: center;
}

.page-logo {
  font-family: "Raleway", sans-serif;
  color: var(--title-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  align-self: center;
}

.page-logo .header-logo-studio {
  color: var(--first-color);
}

.navigation-list {
  display: none;
}

.address-list {
  display: none;
}

.header-open-btn {
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
}

.header-menu-icon {
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 35px 40px 40px;
  background-color: #fff;
  z-index: 999;
  /* transform: translateX(100%); */
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.header-close-btn {
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 24px;
  fill: var(--first-color);
  border: 1px solid var(--first-color);
  background: transparent;
  margin-bottom: 32px;
}

.mobile-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-item {
}

.mobile-link {
  color: var(--first-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.045em;
  text-transform: capitalize;
}

.mob-active {
  color: #404bbf;
}

.address-soc-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  margin-top: auto;
}

.mob-address {
}

.mob-address-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}

.mob-address-item {
}

.tel-address-link {
  font-style: normal;
  color: var(--title-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.email-address-link {
  color: var(--third-color);
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.025em;
}

.mob-icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 56px;
}

.mob-icon-item {
}

.mob-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--title-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-soc-icon {
  fill: var(--second-color);
}

/*  hero section */
.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-mob.jpg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1440px;
  padding: 112px 0;
  margin-left: auto;
  margin-right: auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-mob-2x.jpg);
  }
}

.hero-title {
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-color);
  max-width: 320px;
  margin: 0 auto;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--second-color);
  background: var(--title-color);
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--action-color);
}

/* section-advantages */
.advantages {
  padding: 96px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-title {
  color: var(--first-color);
}

.advantages-icon {
  display: none;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

.advantages-item {
  width: 100%;
  max-width: 396px;
}

.advantages-subtitle {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.045em;
  text-transform: capitalize;
  color: var(--first-color);
  text-align: center;
  margin-bottom: 8px;
}

.advantages-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--third-color);
}

/* products  */
.products {
  display: none;
  padding-bottom: 120px;
}

.products-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--first-color);
  margin-bottom: 72px;
}

.products-list {
  display: flex;
  gap: 24px;
}

.products-item {
  width: calc((100% - 24px * 2) / 3);
}

/* team */
.team {
  background-color: var(--background-color-btn);
  padding: 96px 0;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--first-color);
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.team-item {
  background-color: var(--second-color);
  max-width: 264px;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  gap: 24px;
}

.team-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--title-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover,
.team-icon-link:focus {
  background-color: var(--action-color);
}

.team-soc-icon {
  fill: var(--background-color-btn);
}

.team-item-description {
  padding: 32px 0;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--first-color);
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}

/* customers */

.customers {
  padding: 96px 0;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--first-color);
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 72px 16px;
}

.custmers-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--fourth-color);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--action-color);
  color: var(--action-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cutomers-icon {
  fill: currentColor;
}

/* footer */
.footer {
  background-color: var(--first-color);
  padding-bottom: 96px;
  padding-top: 97px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

.page-logo .footer-logo-studio {
  color: var(--background-color-btn);
}

.down {
  display: inline-block;
  /* margin-left: auto; */
  margin-bottom: 16px;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-color-btn);
  max-width: 268px;
}

.footer-block {
  display: flex;
  flex-direction: column;
}

.footer-soc-block {
}

.footer-soc-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color);
  margin-bottom: 16px;
  text-align: center;
}

.footer-icon-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-icon-item {
}

.footer-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 8px;
  background-color: var(--title-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: var(--success-color);
}

.footer-soc-icon {
  fill: var(--background-color-btn);
}

.footer-form-box {
  width: 100%;
}

.footer-form {
  display: flex;
  flex-direction: column;
  /* gap: 24px; */
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.footer-form-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color);
  margin-bottom: 16px;
  text-align: center;
}

.subscribe-label {
  width: 100%;
}

.subscribe-input {
  display: block;
  width: 100%;
  /* width: 264px; */
  height: 40px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: transparent;
  color: var(--second-color);
  border: 1px solid #ffffff;
  opacity: 0.30000001192092896;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
}

.subscribe-input::placeholder {
  color: var(--second-color);
}

.subscribe-btn {
  min-width: 165px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--second-color);
  background-color: var(--title-color);
  fill: var(--second-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-icon {
  margin-left: 16px;
}

/* portfolio */
.portfolio {
  padding: 96px 0 120px 0;
}

.portfolio-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-item {
}

.portfolio-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--title-color);
  background-color: var(--background-color-btn);
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--second-color);
  background-color: var(--action-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* options */
.option-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.option-item {
  padding-bottom: 48px;
  background: var(--second-color);
  max-width: 360px;
}

.option-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.option-link:hover .option-cover-text,
.option-link:focus .option-cover-text {
  transform: translateY(0%);
}

.option-link:hover,
.option-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.option-item-description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.option-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--first-color);
  margin-bottom: 8px;
}

.option-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--third-color);
}

.option-item-block {
  position: relative;
  overflow: hidden;
}

.option-cover-text {
  position: absolute;
  top: 0;
  padding: 40px 32px;
  height: 100%;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-color-btn);
  background-color: var(--title-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.option-item-block:hover .option-cover-text,
.option-item-block:focus .option-cover-text {
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  padding: 72px 24px 24px 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  background: var(--modal-btn-color);
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--action-color);
  border: none;
  fill: var(--second-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--first-color);
  max-width: 360px;
  text-align: center;
  margin-bottom: 16px;
}

.modal-box {
  margin-bottom: 8px;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--fourth-color);
  display: block;
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-box {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--first-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--title-color);
}

.modal-input:focus + .input-icon {
  fill: var(--title-color);
}

.modal-text-box {
  margin-bottom: 16px;
}

.modal-textaria {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textaria:focus {
  border-color: var(--title-color);
}

.modal-check-box {
  margin-bottom: 24px;
}

.checkbox-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--fourth-color);
}

.checkbox-link {
  color: var(--title-color);
}

.user-policy-check {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:checked + .checkbox-text span {
  background-color: var(--action-color);
  fill: var(--background-color-btn);
  border-color: var(--title-color);
}

.form-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--second-color);
  background: var(--title-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  cursor: pointer;
  display: block;
  align-items: center;
  justify-content: center;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
