body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
:root {
  --primary-font: "Roboto", sans-serif;
  --logo-color: #4d5ae5;
  --text-color: #2e2f42;
  --btn-color: #e7e9fc;
  --icons-color: #f4f4fd;
  --primary-icon-color: #8e8f99;
  --main-color: #ffffff;
  --modal-color: #404bbf;
  --link-color: #4d5ae5;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
img {
  display: block;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
  margin-right: 76px;
}

.nav-link {
  display: flex;
  gap: 40px;
}

.link {
  text-decoration: none;
}
.logo-word {
  color: var(--text-color);
}
.list {
  list-style: none;
  margin: 0;
}
.header-menu {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}
.header-contacts {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-container {
  display: flex;
}
.header-link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.header-link:hover {
  color: #404bbf;
}
.header-link:active {
  color: #434455;
}
.header-link {
  color: var(--text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 24px 0;
  position: relative;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.header-contacts-item {
  color: #434455;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-left: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts-item :hover {
  color: #404bbf;
}
.header-contacts-item :focus {
  color: #404bbf;
}
.header-menu-item {
  text-decoration: none;
}
.header-contacts-item {
  text-decoration: none;
}
.hero {
  line-height: 1.07;
  padding: 188px 0;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-container {
  width: 100%;
  text-align: center;
}

.header-link link {
  text-decoration: none;
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 32px;
  padding-left: 32px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: var(--logo-color);
  margin-left: 635px;
  margin-right: 636px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
  background-color: #404bbf;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.hero-btn:focus {
  background-color: #404bbf;
}
.hero-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin-bottom: 48px;
  text-align: center;
  margin-left: 472px;
  margin-right: 472px;
}
.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.header-nav link {
  text-decoration: none;
}
.header-title link {
  text-decoration: none;
}
.header-contacts-item:hover {
  color: #404bbf;
}
.header-contacts-item:focus {
  color: #404bbf;
}
.benefits {
  padding: 120px 0;
}
.benefits-li {
  width: calc((100% - 72px) / 4);
}
.benefits-icon-container {
  display: flex;
  align-items: center;
  background-color: #f4f4fd;
  justify-content: center;
  height: 112px;
  width: 264px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.benefits-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  list-style-type: none;
}
.benefits-items {
  display: flex;
  gap: 24px;
}
.benefits-item {
  margin-bottom: 8px;
}
.benefits-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
.job {
  padding-bottom: 120px;
}
.job-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}
.job-img {
  list-style-type: none;
  display: flex;
  gap: 24px;
}
.footer-logo-name {
  color: #f4f4fd;
  margin-right: 50px;
}

.container .team-container {
  padding: 32px 0;
}
.team-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}
.team-item {
  list-style-type: none;
  display: flex;
  gap: 24px;
  justify-content: center;
}
.team-item-links {
  background-color: #ffffff;
  width: 264px;
  height: 428px;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team {
  background-color: #f4f4fd;
  padding-bottom: 120px;
  padding: 120px 0;
}

.team-soc {
  display: flex;
  gap: 24px;
  list-style: none;
  justify-content: center;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}
.team-soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--logo-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover {
  background-color: #404bbf;
}
.team-soc-link:focus {
  background-color: #404bbf;
}
.team-icons {
  fill: var(--icons-color);
}
.team-name-item {
  padding: 32px 0;
  margin-bottom: 500px;
}
.team-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.team-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
  text-align: center;
}
.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--text-color);
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  list-style: none;
  margin-left: 0;
  gap: 24px;
  flex-direction: row;
}
.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-links {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-icon-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-links:hover {
  border-color: #404bbf;
  color: #404bbf;
}
.customers-links:focus {
  border-color: #404bbf;
  color: #404bbf;
}
.customers-icons {
  fill: currentColor;
}
.customers-icons:hover {
  fill: #404bbf;
}
.customers-icons:focus {
  fill: #404bbf;
}
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logo-name {
  color: #f4f4fd;
}

.footer-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  margin-top: 16px;
}
.header-title link {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
  margin-bottom: 16px;
  display: inline-block;
}
.footer-container {
  display: flex;
  align-items: baseline;
  margin-right: 120px;
  margin-left: 156px;
}
.footer-soc {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-bottom: 16px;
}
.footer-soc-list {
  display: flex;
  gap: 16px;
  list-style: none;
}
.footer-soc-link {
  height: 100%;
  width: 100%;
  background-color: var(--logo-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover {
  background-color: #31d0aa;
}

.footer-soc-link:focus {
  background-color: #31d0aa;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}
.footer-icon {
  fill: var(--icons-color);
}
.footer-soc-container {
  margin-left: 0;
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 300, visibility 300;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  transition: transform;
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form-container {
  margin-bottom: 8px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--primary-icon-color);
  display: block;
  margin-bottom: 4px;
}

.modal-form-item {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  margin-bottom: 8px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-icons {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-icons:hover {
  fill: #4d5ae5;
}

.modal-form-icons:focus {
  fill: #4d5ae5;
}

.modal-form-text-area {
  margin-bottom: 16px;
}

.check-icon {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.check-icon:checked {
  background-color: var(--modal-color);
  border: none;
  fill: var(--icons-color);
}

.modal-link {
  color: var(--link-color);
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox {
  margin-bottom: 24px;
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--primary-icon-color);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-input:hover {
  border-color: #4d5ae5;
  fill: #4d5ae5;
}

.modal-input:focus {
  border-color: #4d5ae5;
  fill: #4d5ae5;
}

.modal-input:focus + .modal-form-icons {
  fill: #4d5ae5;
}

.modal-form-input-checkbox + .checkmark {
  background-color: var(--modal-color);
  border: none;
  fill: var(--icons-color);
}

.modal-form-input-checkbox:checked + .checkbox-label > .checkmark {
  background-color: var(--modal-color);
  border: none;
  fill: var(--icons-color);
}

.modal-button:hover {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
}
.modal-button:focus {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
}
.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkmark {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-order-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 120px;
  margin-left: 92px;
}

.footer-form-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-form {
  margin-left: 150px;
}

.footer-form-item {
  display: flex;
  gap: 24px;
}

.footer-label {
  gap: 24px;
}

.footer-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

.footer-input::placeholder {
  color: #ffffff;
}

.footer-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  margin-left: 24px;
}

.subscribe-icon {
  margin-left: 16px;
}

/* Porfolio */
.portfolio-button-item {
  background-color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  text-decoration: none;
  cursor: pointer;
  padding: 12px 24px;
  border: 0;
  border: 1px solid var(--btn-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button-item:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-button-item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-button {
  padding: 96px 0 120px 0;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.portfolio-button-item:hover {
  background-color: #404bbf;
  color: #ffffff;
  border: 1px solid transparent;
}
.portfolio-button-item:focus {
  background-color: #404bbf;
  color: #ffffff;
  border: 1px solid transparent;
}
.portfolio-button-item:active {
  background-color: #404bbf;
  color: #ffffff;
}
.portfolio-button-list {
  list-style-type: none;
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
.portfolio-button-li {
  width: 21px;
  height: 24px;
}

.main-list {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.main-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-list-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-bottom: 8px;
}
.main-list-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
.main-list-text:hover {
  transform: translateY(0%);
}
.main-link {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0%);
}
.main-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}
.main-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}
.portfolio-img:hover {
  transform: translateY(0);
}
.portfolio-img:focus {
  transform: translateY(0);
}
.main-link:hover .img-cover-text {
  transform: translateY(0);
}
.main-link:focus .img-cover-text {
  transform: translateY(0);
}

.portfolio-items {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: 0;
}
.portfolio-img {
  position: relative;
  overflow: hidden;
}
.img-cover-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--icons-color);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
